@import "./../../../../scss/style";
section.team {
	padding-top: 100px;
	.container {
		flex-direction: column;
		.founders__block {
			display: flex;
			flex-direction: column;
			gap: 50px;
			width: 100%;
			h2 {
				text-align: center;
			}
			.founder {
				display: flex;
				flex-direction: column;
				gap: 20px;
				picture {
					background: linear-gradient(rgba($footer_grad, 0), rgba($footer_grad, 0), rgba($footer_grad, 1), rgba($footer_grad, 1));
					transform: skewY(15deg);
					overflow: hidden;
					border-radius: 20px;
					img {
						display: block;
						transform: skewY(-15deg) translateY(10%) scale(1.1);
					}
				}
				.info {
					display: flex;
					flex-direction: column;
					gap: 25px;
					max-width: 509px;
					margin-top: 30px;
					h3 {
					}
					ul {
						list-style: none;
						margin: 0;
						padding: 0;
						display: flex;
						flex-direction: column;
						gap: 12px;
						li {
							display: flex;
							flex-direction: row;
							gap: 4px;
							font-size: 18px;
							line-height: 25px;
							font-weight: 400;
							color: $light_gray;
							svg {
								min-width: 19px;
								margin-top: 3px;
							}
						}
					}
					.social {
						display: flex;
						flex-direction: row;
						gap: 12px;
						.link {
							@include default_icon($grad_one_red, $grad_two_red);
							display: flex;
							justify-content: center;
							align-items: center;
							svg {
								path {
									@include default_transition(.2s);
								}
							}
							&:hover {
								background: $white;
								svg {
									path {
										fill: $accent_red;
									}
								}
							}
						}
					}
				}
				&:nth-child(2n - 1) {
					picture {
						transform: skewY(-15deg);
						img {
							transform: skewY(15deg) translateY(10%) scale(1.1);
						}
					}
					.info {
						h3 {
						}
						ul {
							li {
								svg {
								}
							}
						}
						.social {
							.link {
								svg {
									path {
									}
								}
								&:hover {
									svg {
										path {
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.team__block {
			.team-carousel {
				&.owl-carousel {
					.member {
						picture {
							position: relative;
							z-index: 1;
							source {
							}
							img {
							}
						}
						.info {
							position: relative;
							z-index: 2;
							border-radius: 20px;
							padding: 20px;
							background: $advantages;
							margin-top: -20px;
							font-family: "TacticSans", sans-serif;
							.name {
								font-weight: 600;
								font-size: 16px;
								line-height: 21px;
							}
							.text {
								font-size: 14px;
								line-height: 21px;
								color: $light_gray;
							}
						}
					}
					.owl-dots {
						background: $gray;
						border-radius: 1000px;
						height: 8px;
						margin-top: 18px;
						display: flex;
						justify-content: space-between;
						button {
							display: inline-flex;
							height: 8px;
							border: 0;
							position: relative;
							top: 0;
							flex: 1 0 max-content;
							span {
								display: inline-block;
								height: 100%;
								width: 100%;
								position: absolute;
								top: 0;
								left: 0;
							}
							&.active {
								span {
									background: $accent_red;
									border-radius: 1000px;
								}
							}
						}
					}
				}
			}
		}
	}
	@include media-up(medium) {
		padding-top: 150px;
		overflow: hidden;
		.container {
			.founders__block {
				gap: 10px;
				h2 {
					text-align: left;
				}
				.founder {
					flex-direction: row;
					align-items: center;
					gap: 70px;
					picture {
						order: 1;
						min-width: 430px;
					}
					.info {
						order: 2;
						margin-top: 0;
						h3 {
						}
						ul {
							li {
								svg {
								}
							}
						}
						.social {
							.link {
								svg {
									path {
									}
								}
								&:hover {
									svg {
										path {
										}
									}
								}
							}
						}
					}
					&:nth-child(2n + 1) {
						justify-content: flex-end;
						picture {
							order: 2;
						}
						.info {
							order: 1;
						}
					}
				}
			}
			.team__block {
				padding-top: 80px;
				display: flex;
				flex-direction: column;
				gap: 50px;
				.caption {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					h2 {
					}
					.nav {
						display: flex;
						flex-direction: row;
						gap: 50px;
						button {
							border-radius: 4px;
							padding: 10px;
							width: 46px;
							height: 46px;
							display: flex;
							justify-content: center;
							align-items: center;
							background: radial-gradient($grad_one_red, $grad_two_red);
							border: none;
							&.owl-next {
								transform: rotate(180deg);
							}
							&.disabled {
								background: $gray;
								svg {
									path {
										fill: #969696;
									}
								}
							}
						}
					}
				}
				.team-carousel {
					width: 120%;
					&.owl-carousel {
						.member {
							picture {
								source {
								}
								img {
								}
							}
							.info {
								display: flex;
								flex-direction: column;
								gap: 4px;
								.name {
									font-size: 24px;
								}
								.text {
									font-size: 16px;
									line-height: 24px;
								}
							}
						}
						.owl-dots {
							button {
								span {
								}
								&.active {
									span {
									}
								}
							}
						}
					}
				}
			}
		}
	}
}