/* colors*/
/* breakpoints*/
section.enter-the-team {
  padding-top: 100px;
  overflow: hidden; }
  section.enter-the-team .container {
    flex-direction: column;
    gap: 20px; }
    section.enter-the-team .container h1 {
      font-size: 30px; }
      section.enter-the-team .container h1 span {
        color: #ff1414; }
    section.enter-the-team .container .form__block {
      display: flex;
      flex-direction: column;
      gap: 50px; }
      section.enter-the-team .container .form__block .top {
        display: flex;
        flex-direction: column;
        gap: 20px; }
        section.enter-the-team .container .form__block .top .pre__info {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 4px;
          font-size: 18px;
          font-family: "TacticSans", sans-serif; }
          section.enter-the-team .container .form__block .top .pre__info svg {
            width: 36px;
            height: 36px; }
            section.enter-the-team .container .form__block .top .pre__info svg path {
              stroke: #ff1414; }
        section.enter-the-team .container .form__block .top .points {
          display: flex;
          flex-direction: column;
          gap: 8px; }
          section.enter-the-team .container .form__block .top .points .point {
            padding: 12px;
            background: rgba(51, 12, 17, 0.3);
            border-radius: 20px;
            font-family: "TacticSans", sans-serif;
            font-size: 14px;
            position: relative; }
            section.enter-the-team .container .form__block .top .points .point:after {
              content: '';
              position: absolute;
              z-index: 0;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              border-radius: 20px;
              padding: 1px;
              background: linear-gradient(53deg, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.56), rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.56));
              -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
              -webkit-mask-composite: xor;
              mask-composite: exclude; }
            section.enter-the-team .container .form__block .top .points .point span {
              font-weight: 600; }
        section.enter-the-team .container .form__block .top .approve__block {
          flex: 0 0 100%;
          display: flex;
          flex-direction: column;
          gap: 10px; }
          section.enter-the-team .container .form__block .top .approve__block .management {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 9px;
            margin-top: 13px;
            position: relative;
            z-index: 2; }
            section.enter-the-team .container .form__block .top .approve__block .management label.approve {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 6px;
              font-weight: 400;
              font-size: 14px;
              line-height: 14px; }
              section.enter-the-team .container .form__block .top .approve__block .management label.approve .check {
                border-radius: 4px;
                padding: 3px;
                background: #fff;
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out; }
              section.enter-the-team .container .form__block .top .approve__block .management label.approve span {
                font-family: "TacticSans", sans-serif; }
              section.enter-the-team .container .form__block .top .approve__block .management label.approve.yes .check {
                background: #ff1414; }
          section.enter-the-team .container .form__block .top .approve__block .arrow {
            display: flex;
            justify-content: center; }
            section.enter-the-team .container .form__block .top .approve__block .arrow svg {
              width: 70px;
              height: 70px;
              transform: rotate(180deg); }
              section.enter-the-team .container .form__block .top .approve__block .arrow svg g path {
                fill: #ff1414; }
          section.enter-the-team .container .form__block .top .approve__block .comment {
            text-align: center; }
      section.enter-the-team .container .form__block .bottom.anketa:not(.yes) {
        position: relative; }
        section.enter-the-team .container .form__block .bottom.anketa:not(.yes):before {
          content: '';
          position: absolute;
          z-index: 2;
          top: -10px;
          left: -10px;
          right: -10px;
          bottom: -10px;
          display: block;
          background: rgba(51, 12, 17, 0.5); }
  @media (min-width: 768px) {
    section.enter-the-team {
      padding-top: 150px; }
      section.enter-the-team .container {
        gap: 50px; }
        section.enter-the-team .container .form__block {
          gap: 80px; }
          section.enter-the-team .container .form__block .top .pre__info {
            gap: 8px;
            font-size: 22px; }
          section.enter-the-team .container .form__block .top .points {
            flex-direction: row;
            flex-wrap: wrap; }
            section.enter-the-team .container .form__block .top .points .point {
              flex: 0 0 calc(50% - 44px);
              padding: 20px;
              font-size: 22px; }
          section.enter-the-team .container .form__block .top .approve__block {
            align-items: center; }
          section.enter-the-team .container .form__block .bottom {
            padding-bottom: 20px; }
            section.enter-the-team .container .form__block .bottom.anketa:not(.yes):before {
              left: -200%;
              right: -200%; } }

::-webkit-input-placeholder {
  color: #d1d1d1;
  opacity: .6; }

:-moz-placeholder {
  color: #d1d1d1;
  opacity: .6; }

::-moz-placeholder {
  color: #d1d1d1;
  opacity: .6; }

:-ms-input-placeholder {
  color: #d1d1d1;
  opacity: .6; }

::-ms-input-placeholder {
  color: #d1d1d1;
  opacity: .6; }

::placeholder {
  color: #d1d1d1;
  opacity: .6; }

/*# sourceMappingURL=enter-the-team.css.map */
