@import "./../scss/style";
section.thank-you {
	.container {
		min-height: calc(100vh - 262px);
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 40px;
		h1 {
			text-align: center;
		}
		h2 {
			text-align: center;
		}
		a {
			@include default_btn($accent_red, $dark_red);
			@include default_transition(.2s);
			font-weight: 600;
			font-family: "TacticSans", sans-serif;
		}
	}
	@include media-up(medium) {
		.container {
			min-height: calc(100vh - 312.88px);
			h1 {
			}
			h2 {
			}
			a {
				width: max-content;
				padding: 16px 25px;
				font-size: 22px;
			}
		}
	}
}