@charset "UTF-8";
/* colors*/
/* breakpoints*/
section.faq {
  padding-top: 100px; }
  section.faq .container {
    flex-direction: column;
    gap: 30px; }
    section.faq .container .faq__block {
      display: flex;
      flex-direction: column;
      gap: 20px; }
      section.faq .container .faq__block .faq__element {
        position: relative;
        border-radius: 8px;
        padding: 20px;
        background: rgba(51, 12, 17, 0.3);
        display: flex;
        flex-direction: column;
        gap: 24px; }
        section.faq .container .faq__block .faq__element:after {
          content: '';
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 20px;
          padding: 1px;
          background: linear-gradient(28deg, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.56), rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.56));
          -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude; }
        section.faq .container .faq__block .faq__element h2 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center; }
          section.faq .container .faq__block .faq__element h2 span {
            font-size: 16px;
            line-height: 21px; }
          section.faq .container .faq__block .faq__element h2 svg {
            min-width: 24px;
            min-height: 25px;
            transform: rotate(180deg);
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out; }
        section.faq .container .faq__block .faq__element .info {
          position: absolute;
          height: 0;
          opacity: 0; }
          section.faq .container .faq__block .faq__element .info ul {
            margin: 0;
            padding: 0;
            list-style: none; }
            section.faq .container .faq__block .faq__element .info ul li {
              font-size: 14px;
              line-height: 21px;
              color: #c6c6c6;
              text-indent: 5px; }
              section.faq .container .faq__block .faq__element .info ul li:before {
                content: "—";
                position: relative;
                left: -5px; }
          section.faq .container .faq__block .faq__element .info p {
            font-size: 14px;
            line-height: 21px;
            color: #c6c6c6;
            margin: 0;
            padding: 0; }
        section.faq .container .faq__block .faq__element.open h2 svg {
          transform: rotate(0); }
        section.faq .container .faq__block .faq__element.open .info {
          position: relative;
          height: unset;
          opacity: 1; }
  @media (min-width: 768px) {
    section.faq {
      padding-top: 120px; }
      section.faq .container h1 {
        font-size: 50px; }
      section.faq .container .faq__block {
        max-width: 797px; }
        section.faq .container .faq__block .faq__element h2 span {
          font-size: 18px;
          line-height: 24px; }
        section.faq .container .faq__block .faq__element .info ul li {
          font-size: 18px;
          line-height: 27px; }
        section.faq .container .faq__block .faq__element .info p {
          font-size: 18px;
          line-height: 27px; } }

/*# sourceMappingURL=style.css.map */
