/* colors*/
/* breakpoints*/
/* 480   small*/
/* 768   medium*/
/* 992   xmedium*/
/* 1024  large*/
/* 1280  xlarge*/
/* 1440  xxlarge*/
/* 1920  big*/
/* buttons mixins*/
/* links*/
/* flex mixes*/
/* default transitions */
section.caption {
  background: #ca4e5d; }
  section.caption .container h2 {
    text-align: center;
    width: 100%;
    color: #fff;
    text-transform: uppercase; }
