@import "./../../../../../../../scss/style";
section.course {
	padding-top: 120px;
	overflow: hidden;
	.container {
		flex-direction: column;
		gap: 100px;
		.first__section {
			display: flex;
			flex-direction: column;
			gap: 34px;
			.left {
				display: flex;
				flex-direction: column;
				gap: 10px;
				h1 {
					position: relative;
					z-index: 2;
					span {
					}
				}
				.first__actions {
					font-weight: 600;
					font-size: 18px;
					line-height: 25px;
					display: flex;
					flex-direction: column;
					gap: 26px;
					h2 {
						span {
						}
					}
					p {
					}
					.pre__actions {
					}
					.order__btn {
						@include default_btn($accent_red, $dark_red);
						font-family: "TacticSans", sans-serif;
						width: 100%;
						font-weight: 500;
						font-size: 14px;
						line-height: 17px;
					}
				}
			}
			.right {
				picture {
					source {
					}
					img {
					}
				}
			}
		}
		.with {
			padding-top: 100px;
			.container {
				flex-direction: column;
				gap: 0px;
				h2 {
					text-align: center;
					width: 100%;
				}
				.picture__block {
					display: flex;
					picture {
						display: block;
						source {
						}
						img {
						}
					}
				}
				.with__block {
					display: flex;
					flex-direction: column;
					gap: 40px;
					position: relative;
					padding: 25px 20px;
					border-radius: 40px;
					background: rgba($advantages, .2);
					transform: translateY(-120px);
					margin-bottom: -120px;
					&:before {
						content: '';
						position: absolute;
						inset: 0;
						border-radius: 40px; 
						padding: 1px; 
						background:linear-gradient(28deg, rgba($white, 0), rgba($white, 1), rgba($white, 0), rgba($white, .56), rgba($white, .48), rgba($white, .56)); 
						-webkit-mask: 
						linear-gradient(#fff 0 0) content-box, 
						linear-gradient(#fff 0 0);
						-webkit-mask-composite: xor;
						mask-composite: exclude;
					}
					.block {
						display: flex;
						flex-direction: row;
						gap: 6px;
						.point {
							svg {
								path {
								}
							}
						}
						.text {
							display: flex;
							flex-direction: column;
							gap: 6px;
							h5 {
								font-size: 16px;
							}
							p {
								margin: 0;
								font-weight: 400;
								font-size: 14px;
								line-height: 21px;
								color: $light_gray;
							}
						}
					}
				}
				.with__mini,
				.with__maxi {
					display: none;
				}
			}
		}
		.seventh__section {
			display: flex;
			flex-direction: column;
			gap: 20px;
			position: relative;
			z-index: 2;
			.top {
				.top__left {
					display: flex;
					flex-direction: column;
					gap: 20px;
					h2 {
					}
					p {
						font-size: 18px;
						line-height: 25px;
						color: $light_gray;
						margin: 0;
						padding: 0;
					}
				}
				.top__right {
					display: none;
					.nav {
					}
				}
			}
			.middle {
				.team-carousel {
					&.owl-carousel {
						.member {
							picture {
								position: relative;
								z-index: 1;
								source {
								}
								img {
								}
							}
							.info {
								position: relative;
								z-index: 2;
								border-radius: 20px;
								padding: 20px;
								background: $advantages;
								margin-top: -20px;
								font-family: "TacticSans", sans-serif;
								.name {
									font-weight: 600;
									font-size: 16px;
									line-height: 21px;
								}
								.text {
									font-size: 14px;
									line-height: 21px;
									color: $light_gray;
								}
							}
						}
						.owl-dots {
							background: $gray;
							border-radius: 1000px;
							height: 8px;
							margin-top: 18px;
							display: flex;
							justify-content: space-between;
							button {
								display: inline-flex;
								height: 8px;
								border: 0;
								position: relative;
								top: 0;
								flex: 1 0 max-content;
								span {
									display: inline-block;
									height: 100%;
									width: 100%;
									position: absolute;
									top: 0;
									left: 0;
								}
								&.active {
									span {
										background: $accent_red;
										border-radius: 1000px;
									}
								}
							}
						}
					}
				}
			}
		}
		.ninth__section {
			display: flex;
			flex-direction: column;
			gap: 20px;
			position: relative;
			z-index: 2;
			.top {
				h2 {
					text-align: center;
				}
			}
			.middle {
				display: flex;
				flex-direction: column;
				gap: 6px;
				.joinus__item {
					display: flex;
					flex-direction: row;
					gap: 12px;
					align-items: center;
					border-radius: 20px;
					padding: 20px;
					position: relative;
					background: rgba($advantages, .3);
					&:after {
						content: '';
						position: absolute;
						z-index: 0;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						border-radius: 20px;
						padding: 1px; 
						background:linear-gradient(53deg, rgba($white, 0), rgba($white, 1), rgba($white, 0), rgba($white, .56), rgba($white, .48), rgba($white, .56)); 
						-webkit-mask: 
						linear-gradient(#fff 0 0) content-box, 
						linear-gradient(#fff 0 0);
						-webkit-mask-composite: xor;
						mask-composite: exclude;
					}
					picture {
						display: inline-flex;
						flex: 0 0 80px;
						source {
						}
						img {
						}
					}
					.text {
					}
					&.order__btn {
						position: relative;
						overflow: hidden;
						height: 200px;
						align-items: end;
						picture {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							z-index: 0;
							width: max-content;
							display: inline-flex;
							flex: 0 0 100%;
							source {
							}
							img {
							}
						}
						.text {
							position: relative;
							z-index: 1;
							font-family: "TacticSans", sans-serif;
							font-weight: 600;
						}
					}
				}
			}
		}
		.tenth__section {
			position: relative;
			z-index: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 24px;
			.left {
				transform: scale(1.3);
				picture {
					source {
					}
					img {
					}
				}
			}
			.right {
				transform: scale(1.3);
				margin-bottom: -60px;
				picture {
					source {
					}
					img {
					}
				}
			}
			.middle {
				position: absolute;
				z-index: 1;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: calc(100% - 32px);
				display: flex;
				flex-direction: column;
				gap: 24px;
				.text {
					font-family: "TacticSans", sans-serif;
					font-weight: 600;
					font-size: 20px;
					line-height: 1.7;
					text-align: center;
				}
				.order__btn {
					@include default_btn($accent_red, $dark_red);
					font-family: "TacticSans", sans-serif;
					width: 100%;
					font-weight: 500;
					font-size: 14px;
					line-height: 17px;
				}
			}
			svg {
				position: absolute;
				z-index: 0;
				top: calc(50% + 24px);
				left: 50%;
				transform: translate(-50%, -50%) scale(1.3, 2);
				width: 100%;
			}
		}
	}
	@include media-up(medium) {
		.container {
			gap: 150px;
			.first__section {
				flex-direction: row;
				align-items: stretch;
				gap: 34px;
				.left {
					gap: 22px;
					flex: 0 0 50%;
					h1 {
						font-size: 60px;
						span {
						}
					}
					.first__actions {
						height: 100%;
						h2 {
							font-size: 20px;
							font-weight: 300;
							border-bottom: 1px solid rgba($light_gray, .3);
							span {
								font-weight: 600;
								font-size: 32px;
							}
						}
						p {
						}
						.pre__actions {
							margin-top: auto;
						}
						.order__btn {
							width: max-content;
							padding: 16px 25px;
							font-size: 18px;
						}
					}
				}
				.right {
					picture {
						source {
						}
						img {
						}
					}
				}
			}
			.with {
				padding-top: 150px;
				padding-bottom: 200px;
				.container {
					flex-direction: row;
					flex-wrap: wrap;
					gap: 50px 0;
					position: relative;
					h2 {
						text-align: left;
						width: 100%;
					}
					.picture__block {
						position: absolute;
						right: 0;
						top: -10px;
						z-index: 1;
						picture {
							max-width: 656px;
							source {
							}
							img {
							}
						}
					}
					.with__block {
						transform: translateY(0);
						margin-bottom: 0;
						flex-direction: column;
						flex: 0 0 652px;
						position: relative;
						z-index: 2;
						height: max-content;
						order: 1;
						padding: 40px;
						gap: 40px;
						&:before {
						}
						.block {
							.point {
								svg {
									path {
									}
								}
							}
							.text {
								gap: 16px;
								h5 {
									font-size: 24px;
								}
								p {
									font-size: 18px;
								}
							}
						}
					}
					.with__mini {
						display: block;
						position: absolute;
						z-index: -1;
						top: 15%;
						left: 60%;
						width: 289px;
						height: 289px;
						transform: translateX(-50%);
					}
					.with__maxi {
						display: block;
						position: absolute;
						z-index: -2;
						top: -5%;
						left: 60%;
						width: 583px;
						height: 719px;
						transform: translateX(-50%);
					}
				}
			}
			.seventh__section {
				gap: 50px;
				.top {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: end;
					.top__left {
						max-width: 60%;
						h2 {
						}
						p {
						}
					}
					.top__right {
						display: flex;
						.nav {
							display: flex;
							flex-direction: row;
							gap: 50px;
							button {
								border-radius: 4px;
								padding: 10px;
								width: 46px;
								height: 46px;
								display: flex;
								justify-content: center;
								align-items: center;
								background: radial-gradient($grad_one_red, $grad_two_red);
								border: none;
								&.owl-next {
									transform: rotate(180deg);
								}
								&.disabled {
									background: $gray;
									svg {
										path {
											fill: #969696;
										}
									}
								}
							}
						}
					}
				}
				.middle {
					.team-carousel {
						&.owl-carousel {
							.member {
								picture {
									source {
									}
									img {
									}
								}
								.info {
									display: flex;
									flex-direction: column;
									gap: 4px;
									.name {
										font-size: 24px;
									}
									.text {
										font-size: 16px;
										line-height: 24px;
									}
								}
							}
							.owl-dots {
								button {
									span {
									}
									&.active {
										span {
										}
									}
								}
							}
						}
					}
				}
			}
			.ninth__section {
				gap: 50px;
				.top {
					h2 {
						font-size: 50px;
						text-align: left;
					}
				}
				.middle {
					flex-direction: row;
					flex-wrap: wrap;
					gap: 12px 32px;
					.joinus__item {
						flex: 0 0 calc(50% - 96px);
						padding: 28px 40px;
						gap: 30px;
						&:after {
						}
						picture {
							flex: 0 0 120px;
							source {
							}
							img {
							}
						}
						.text {
							font-size: 18px;
						}
						&.order__btn {
							height: 120px;
							picture {
								source {
								}
								img {
								}
							}
							.text {
								font-size: 24px;
							}
						}
					}
				}
			}
			.tenth__section {
				flex-direction: row;
				.left {
					picture {
						source {
						}
						img {
						}
					}
				}
				.right {
					picture {
						source {
						}
						img {
						}
					}
				}
				.middle {
					.text {
						font-size: 50px;
					}
					.order__btn {
						display: inline-block;
						width: max-content;
						padding: 16px 24px;
						margin: 0 auto;
						font-size: 18px;
					}
				}
				svg {
					z-index: -1;
				}
			}
		}
	}
}