/* colors*/
/* breakpoints*/
section.course {
  padding-top: 120px;
  overflow: hidden; }
  section.course .container {
    flex-direction: column;
    gap: 100px; }
    section.course .container .first__section {
      display: flex;
      flex-direction: column;
      gap: 34px; }
      section.course .container .first__section .left {
        display: flex;
        flex-direction: column;
        gap: 10px; }
        section.course .container .first__section .left h1 {
          position: relative;
          z-index: 2; }
        section.course .container .first__section .left .first__actions {
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          display: flex;
          flex-direction: column;
          gap: 26px; }
          section.course .container .first__section .left .first__actions .order__btn {
            background: linear-gradient(90deg, #ff1414, #620606);
            border: 1px solid #ff1414;
            border-radius: 4px;
            padding: 16px 0;
            cursor: pointer;
            width: calc(100% - 32px);
            text-align: center;
            font-family: "TacticSans", sans-serif;
            width: 100%;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px; }
    section.course .container .with {
      padding-top: 100px; }
      section.course .container .with .container {
        flex-direction: column;
        gap: 0px; }
        section.course .container .with .container h2 {
          text-align: center;
          width: 100%; }
        section.course .container .with .container .picture__block {
          display: flex; }
          section.course .container .with .container .picture__block picture {
            display: block; }
        section.course .container .with .container .with__block {
          display: flex;
          flex-direction: column;
          gap: 40px;
          position: relative;
          padding: 25px 20px;
          border-radius: 40px;
          background: rgba(51, 12, 17, 0.2);
          transform: translateY(-120px);
          margin-bottom: -120px; }
          section.course .container .with .container .with__block:before {
            content: '';
            position: absolute;
            inset: 0;
            border-radius: 40px;
            padding: 1px;
            background: linear-gradient(28deg, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.56), rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.56));
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude; }
          section.course .container .with .container .with__block .block {
            display: flex;
            flex-direction: row;
            gap: 6px; }
            section.course .container .with .container .with__block .block .text {
              display: flex;
              flex-direction: column;
              gap: 6px; }
              section.course .container .with .container .with__block .block .text h5 {
                font-size: 16px; }
              section.course .container .with .container .with__block .block .text p {
                margin: 0;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #c6c6c6; }
        section.course .container .with .container .with__mini,
        section.course .container .with .container .with__maxi {
          display: none; }
    section.course .container .seventh__section {
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;
      z-index: 2; }
      section.course .container .seventh__section .top .top__left {
        display: flex;
        flex-direction: column;
        gap: 20px; }
        section.course .container .seventh__section .top .top__left p {
          font-size: 18px;
          line-height: 25px;
          color: #c6c6c6;
          margin: 0;
          padding: 0; }
      section.course .container .seventh__section .top .top__right {
        display: none; }
      section.course .container .seventh__section .middle .team-carousel.owl-carousel .member picture {
        position: relative;
        z-index: 1; }
      section.course .container .seventh__section .middle .team-carousel.owl-carousel .member .info {
        position: relative;
        z-index: 2;
        border-radius: 20px;
        padding: 20px;
        background: #330c11;
        margin-top: -20px;
        font-family: "TacticSans", sans-serif; }
        section.course .container .seventh__section .middle .team-carousel.owl-carousel .member .info .name {
          font-weight: 600;
          font-size: 16px;
          line-height: 21px; }
        section.course .container .seventh__section .middle .team-carousel.owl-carousel .member .info .text {
          font-size: 14px;
          line-height: 21px;
          color: #c6c6c6; }
      section.course .container .seventh__section .middle .team-carousel.owl-carousel .owl-dots {
        background: #282834;
        border-radius: 1000px;
        height: 8px;
        margin-top: 18px;
        display: flex;
        justify-content: space-between; }
        section.course .container .seventh__section .middle .team-carousel.owl-carousel .owl-dots button {
          display: inline-flex;
          height: 8px;
          border: 0;
          position: relative;
          top: 0;
          flex: 1 0 max-content; }
          section.course .container .seventh__section .middle .team-carousel.owl-carousel .owl-dots button span {
            display: inline-block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0; }
          section.course .container .seventh__section .middle .team-carousel.owl-carousel .owl-dots button.active span {
            background: #ff1414;
            border-radius: 1000px; }
    section.course .container .ninth__section {
      display: flex;
      flex-direction: column;
      gap: 20px; }
      section.course .container .ninth__section .top h2 {
        text-align: center; }
      section.course .container .ninth__section .middle {
        display: flex;
        flex-direction: column;
        gap: 6px; }
        section.course .container .ninth__section .middle .joinus__item {
          display: flex;
          flex-direction: row;
          gap: 12px;
          align-items: center;
          border-radius: 20px;
          padding: 20px;
          position: relative;
          background: rgba(51, 12, 17, 0.3); }
          section.course .container .ninth__section .middle .joinus__item:after {
            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 20px;
            padding: 1px;
            background: linear-gradient(53deg, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.56), rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0.56));
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude; }
          section.course .container .ninth__section .middle .joinus__item picture {
            display: inline-flex;
            flex: 0 0 80px; }
          section.course .container .ninth__section .middle .joinus__item.order__btn {
            position: relative;
            overflow: hidden;
            height: 200px;
            align-items: end; }
            section.course .container .ninth__section .middle .joinus__item.order__btn picture {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              z-index: 0;
              width: max-content;
              display: inline-flex;
              flex: 0 0 100%; }
            section.course .container .ninth__section .middle .joinus__item.order__btn .text {
              position: relative;
              z-index: 1;
              font-family: "TacticSans", sans-serif;
              font-weight: 600; }
    section.course .container .tenth__section {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px; }
      section.course .container .tenth__section .left {
        transform: scale(1.3); }
      section.course .container .tenth__section .right {
        transform: scale(1.3);
        margin-bottom: -60px; }
      section.course .container .tenth__section .middle {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 32px);
        display: flex;
        flex-direction: column;
        gap: 24px; }
        section.course .container .tenth__section .middle .text {
          font-family: "TacticSans", sans-serif;
          font-weight: 600;
          font-size: 20px;
          line-height: 1.7;
          text-align: center; }
        section.course .container .tenth__section .middle .order__btn {
          background: linear-gradient(90deg, #ff1414, #620606);
          border: 1px solid #ff1414;
          border-radius: 4px;
          padding: 16px 0;
          cursor: pointer;
          width: calc(100% - 32px);
          text-align: center;
          font-family: "TacticSans", sans-serif;
          width: 100%;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px; }
      section.course .container .tenth__section svg {
        position: absolute;
        z-index: 0;
        top: calc(50% + 24px);
        left: 50%;
        transform: translate(-50%, -50%) scale(1.3, 2);
        width: 100%; }
  @media (min-width: 768px) {
    section.course .container {
      gap: 150px; }
      section.course .container .first__section {
        flex-direction: row;
        align-items: stretch;
        gap: 34px; }
        section.course .container .first__section .left {
          gap: 22px;
          flex: 0 0 50%; }
          section.course .container .first__section .left h1 {
            font-size: 60px; }
          section.course .container .first__section .left .first__actions {
            height: 100%; }
            section.course .container .first__section .left .first__actions h2 {
              font-size: 20px;
              font-weight: 300;
              border-bottom: 1px solid rgba(198, 198, 198, 0.3); }
              section.course .container .first__section .left .first__actions h2 span {
                font-weight: 600;
                font-size: 32px; }
            section.course .container .first__section .left .first__actions .pre__actions {
              margin-top: auto; }
            section.course .container .first__section .left .first__actions .order__btn {
              width: max-content;
              padding: 16px 25px;
              font-size: 18px; }
      section.course .container .with {
        padding-top: 150px;
        padding-bottom: 200px; }
        section.course .container .with .container {
          flex-direction: row;
          flex-wrap: wrap;
          gap: 50px 0;
          position: relative; }
          section.course .container .with .container h2 {
            text-align: left;
            width: 100%; }
          section.course .container .with .container .picture__block {
            position: absolute;
            right: 0;
            top: -10px;
            z-index: 1; }
            section.course .container .with .container .picture__block picture {
              max-width: 656px; }
          section.course .container .with .container .with__block {
            transform: translateY(0);
            margin-bottom: 0;
            flex-direction: column;
            flex: 0 0 652px;
            position: relative;
            z-index: 2;
            height: max-content;
            order: 1;
            padding: 40px;
            gap: 40px; }
            section.course .container .with .container .with__block .block .text {
              gap: 16px; }
              section.course .container .with .container .with__block .block .text h5 {
                font-size: 24px; }
              section.course .container .with .container .with__block .block .text p {
                font-size: 18px; }
          section.course .container .with .container .with__mini {
            display: block;
            position: absolute;
            z-index: -1;
            top: 15%;
            left: 60%;
            width: 289px;
            height: 289px;
            transform: translateX(-50%); }
          section.course .container .with .container .with__maxi {
            display: block;
            position: absolute;
            z-index: -2;
            top: -5%;
            left: 60%;
            width: 583px;
            height: 719px;
            transform: translateX(-50%); }
      section.course .container .seventh__section {
        gap: 50px; }
        section.course .container .seventh__section .top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: end; }
          section.course .container .seventh__section .top .top__left {
            max-width: 60%; }
          section.course .container .seventh__section .top .top__right {
            display: flex; }
            section.course .container .seventh__section .top .top__right .nav {
              display: flex;
              flex-direction: row;
              gap: 50px; }
              section.course .container .seventh__section .top .top__right .nav button {
                border-radius: 4px;
                padding: 10px;
                width: 46px;
                height: 46px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: radial-gradient(#360508, #810507);
                border: none; }
                section.course .container .seventh__section .top .top__right .nav button.owl-next {
                  transform: rotate(180deg); }
                section.course .container .seventh__section .top .top__right .nav button.disabled {
                  background: #282834; }
                  section.course .container .seventh__section .top .top__right .nav button.disabled svg path {
                    fill: #969696; }
        section.course .container .seventh__section .middle .team-carousel.owl-carousel .member .info {
          display: flex;
          flex-direction: column;
          gap: 4px; }
          section.course .container .seventh__section .middle .team-carousel.owl-carousel .member .info .name {
            font-size: 24px; }
          section.course .container .seventh__section .middle .team-carousel.owl-carousel .member .info .text {
            font-size: 16px;
            line-height: 24px; }
      section.course .container .ninth__section {
        gap: 50px; }
        section.course .container .ninth__section .top h2 {
          font-size: 50px;
          text-align: left; }
        section.course .container .ninth__section .middle {
          flex-direction: row;
          flex-wrap: wrap;
          gap: 12px 32px; }
          section.course .container .ninth__section .middle .joinus__item {
            flex: 0 0 calc(50% - 96px);
            padding: 28px 40px;
            gap: 30px; }
            section.course .container .ninth__section .middle .joinus__item picture {
              flex: 0 0 120px; }
            section.course .container .ninth__section .middle .joinus__item .text {
              font-size: 18px; }
            section.course .container .ninth__section .middle .joinus__item.order__btn {
              height: 120px; }
              section.course .container .ninth__section .middle .joinus__item.order__btn .text {
                font-size: 24px; }
      section.course .container .tenth__section {
        flex-direction: row; }
        section.course .container .tenth__section .middle .text {
          font-size: 50px; }
        section.course .container .tenth__section .middle .order__btn {
          display: inline-block;
          width: max-content;
          padding: 16px 24px;
          margin: 0 auto;
          font-size: 18px; }
        section.course .container .tenth__section svg {
          z-index: -1; } }

/*# sourceMappingURL=style.css.map */
